/*==========
Cpanel start
============*/
.has-error .form-control {
	border-color: #FF3B30 !important;
}
.content-wrapper, .gallery-item-row {
	min-height: 500px;
}
.gallery-item-row {
	margin-right: -2px;
	margin-left: -2px;
}
.gallery-item {
	float: left;
	width: 25%;
	padding: 2px;
	height: 137px;
	overflow: hidden;
}
.thumbnail, a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	padding: 0;
	border: none;
}
.gallery-item .thumbnail {
	background-color: transparent;
	border-radius: 0;
	margin-bottom: 0;
	position: relative;
}
.gallery-item .thumbnail {
	min-height: 133px;
}
.gallery-item.has-video .thumbnail:before {
	content: " ";
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 0px;
	height: 0px;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
}
.gallery-item.has-video .thumbnail:before {
	z-index: 2;
	border-left: 18px solid #fff;
}
.gallery-item.has-video .thumbnail:after {
	content: " ";
	position: absolute;
	right: 18px;
	bottom: 20px;
	width: 6px;
	height: 8px;
	box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.5);
}
.gallery-data-loader, .gallery-data-empty, .content-data-loader, .content-data-empty {
	min-height: inherit;
	position: relative;
	display: none;
}
.show-spinner .gallery-data-loader, .show-data-empty .gallery-data-empty, .show-spinner .content-data-loader, .show-data-empty .content-data-empty {
	display: block;
}
.gallery-data-loader .table-data-holder, .gallery-data-empty .table-data-holder, .content-data-loader .table-data-holder, .content-data-empty .table-data-holder {
	height: 100%;
	position: absolute;
	width: 100%;
}
strong {
	font-weight: normal;
	font-family: "SanFranciscoText-Bold";
}
strong.semi-bold, .semi-bold {
	font-weight: normal;
	font-family: "SanFranciscoText-Semibold";
}
.padding-0px {
	padding: 0;
}
.margin-0px {
	margin: 0;
}
.padding-right-0px {
	padding-right: 0;
}
.cpanel-login .portal-main-hd {
	font-size: 20px;
}
.cpanel-login .portal-main-hd span {
	font-size: 16px;
	padding-bottom: 20px;
}
.header-wrapper {
	background-color: #fff;
	border-bottom: 1px solid #cfcfcf;
	height: 64px;
	line-height: 64px;
}
.container {
	position: relative;
}
.header-wrapper .logo {
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	max-width: 48px;
	top: 8px;
}
.header-wrapper li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 40px;
}
.header-wrapper li:last-child {
	margin-right: 0;
}
.header-wrapper ul li a {
	font-size: 32px;
	line-height: 28px;
	display: block;
	text-decoration: none;
}
.reset-ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.navigation {
	float: left;
	margin: 0 10px;
}
.navigation ul {
	font-size: 0;
}
.navigation li a {
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
}
.navigation li a:hover {
	color: #34d803;
}
.header-right {
	float: right;
	margin: 0 5px;
}
.custom-page-header {
	padding: 30px 0;
	line-height: 44px;
}
.custom-page-header h2 {
	margin: 0;
	font-size: 27px;
	line-height: inherit;
}
.custom-page-header .form-group {
	margin-bottom: 0;
}
.filter-tabs .custom-filter {
	width: 100%;
}
.custom-filter li {
	display: inline-block;
}
.custom-filter li:not(:last-child) {
	margin-right: 15px;
}
.custom-filter li a.active {
	text-decoration: underline;
}
.form-group-has-icon {
	position: relative;
}
.form-group-has-icon i {
	font-size: 20px;
	position: absolute;
	right: 15px;
	top: 0;
	line-height: 42px;
}
.form-group-has-icon .form-control {
	padding-right: 30px;
}
.btn.btn-success.btn-filter {
	padding: 0;
	height: 44px;
	font-size: 32px;
	line-height: 44px;
	float: right;
}
.btn.btn-success span{
	color: #fff;
    padding: 0;
    font-size: inherit;
}
.btn.btn-success.btn-filter .loader {
	top: 4px;
}
.dashboard-content ul {
	margin-bottom: 15px;
}
.listing-style-1 {
	background-color: #FFFFFF;
	border: 1px solid #CFCFCF;
}
.listing-style-1 li {
	padding: 13px 30px;
}
.listing-style-1 li:not(:last-child) {
	border-bottom: 1px solid #CFCFCF;
}
.listing-style-1 li span {
	float: right;
	font-family: "SanFranciscoText-Semibold";
}
.custom-select {
	position: relative;
	line-height: 44px;
}
.custom-select span {
	line-height: 42px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #fff;
	border-radius: 0 5px 5px 0;
	border: 1px solid #cfcfcf;
	border-left: 0;
	pointer-events: none;
	height: 100%;
	width: 30px;
	text-align: left;
}
.custom-select span i {
	display: block;
}
.custom-select span i.icon-expand_less {
	margin-top: 30%;
	margin-bottom: -6px;
}
.form-group-icon-left i {
	right: auto;
	left: 15px;
}
.form-group-icon-left .form-control {
	padding-right: 12px;
	padding-left: 40px;
}
.table-responsive.table-has-user-img {
	overflow-x: visible;
	display: inline-block;
	width: 100%;
	padding-left: 21px;
}
.table-responsive.custom-table {
	border-color: transparent;
}
.custom-table table {
	border-color: #F2F2F2;
}
.custom-table table tbody {
	background-color: #fff;
	border-right: 1px solid #CFCFCF;
	border-left: 1px solid #CFCFCF;
}
.custom-table table thead th {
	font-size: 14px;
	line-height: 18px;
	border: 0;
	padding-top: 0;
	padding-bottom: 16px;
}
.custom-table table.table th, .custom-table table.table td {
	vertical-align: middle;
}
.custom-table table.table th:not(:first-child), .custom-table table.table td:not(:first-child) {
	text-align: center;
}
.custom-table table.table th:first-child, .custom-table table.table td:first-child {
	padding-left: 35px;
}
.custom-table table.table th:last-child, .custom-table table.table td:last-child {
	padding-right: 35px;
}
.custom-table table.table td {
	border-color: #CFCFCF;
	border-right: 0;
	border-left: 0;
	padding-top: 6px;
	padding-bottom: 6px;
}
.custom-table span.user-img {
	margin-left: -55px;
	margin-right: 15px;
}
.custom-table.admin-table tr td:last-child {
	padding-right: 0;
}
.custom-table.admin-table tr td:last-child a:hover {
	color: inherit;
}
.custom-table.admin-table tr td:last-child a .icon-bin {
	font-size: 22px;
}
.custom-table.admin-table thead tr th:nth-child(2), .custom-table.admin-table tbody tr td:nth-child(2) {
	text-align: left;
}
span.user-img, .user-content {
	display: inline-block;
	vertical-align: middle;
}
.user-content a {
	text-decoration: none;
}
.text-underline {
	text-decoration: underline;
}
.user-content strong, .user-content p {
	display: block;
	line-height: 1.2;
}
.user-content p {
	margin: 0;
	font-size: 14px;
}
.checkbox.custom-checkbox-1 {
	margin: 0;
	display: inline-block;
	position: relative;
	font-size: 26px;
	width: 22px;
	height: 22px;
	line-height: 22px;
}
.checkbox.custom-checkbox-1 label {
	padding: 0;
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.checkbox.custom-checkbox-1 label input {
	margin: 0;
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}
.checkbox.custom-checkbox-1 i {
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	position: absolute;
	top: 0;
	left: 0;
	line-height: inherit;
}
.show-on-checked {
	opacity: 0;
}
.checkbox.custom-checkbox-1 label input:checked + i {
	opacity: 0;
}
.checkbox.custom-checkbox-1 label input:checked + i + i {
	opacity: 1;
}
.custom-page-header .btn:not(.btn-filter) {
	height: 44px;
	line-height: 44px;
	padding: 0 12px;
}
.modal-content {
	border-radius: 0;
}
.modal-backdrop {
	background-color: rgba(26, 26, 26, 1);
}
.modal-title {
	font-size: 28px;
	line-height: 22px;
}
.modal-header {
	padding: 20px;
	border-bottom: 0;
}
.modal-footer {
	padding: 10px 20px 20px;
	border-top: 0;
}
.modal-body {
	padding: 10px 20px;
}
.white-bg-popup .icon-close {
	text-shadow: none;
	color: #fff;
	width: 24px;
	height: 24px;
	font-size: 18px !important;
	text-align: center;
	line-height: 20px !important;
}
.table-data-loader, .table-data-empty {
	display: none;
}
.empty-img {
	display: inline-block;
	max-width: 75px;
	width: 100%;
}
.table-data-empty strong, .table-data-holder strong {
	display: block;
}
.show-spinner .table-data-loader, .show-data-empty .table-data-empty {
	display: table-row;
}
.table-data-loader td {
	padding: 0 !important;
}
.table-data-holder {
	height: 300px;
	position: relative;
	text-align: center;
}
.display-table {
	display: table;
	width: 100%;
	height: 100%;
}
.vertical-middle {
	display: table-cell;
	vertical-align: middle;
}
.loader.loader-green {
	border-top: 1.1em solid rgba(167, 195, 159, 0.2);
	border-right: 1.1em solid rgba(167, 195, 159, 0.2);
	border-bottom: 1.1em solid rgba(167, 195, 159, 0.2);
	border-left: 1.1em solid #34D803;
}
.table-data-holder .loader.loader-green {
	display: inline-block;
	position: relative;
}
/*==========
Cpanel end
============*/


/*====
	Client portal css
====*/

.loader-text {
	display: none;
}
.clearfix {
	clear: both;
	display: block;
	overflow: hidden;
}
img {
	display: block;
	max-width: 100%;
}
body {
	background: #f2f2f2;
	font-family: "SanFranciscoText-Regular";
}
.padding-30px {
	padding: 32px;
}
.padding-bottom-0px {
	padding-bottom: 0;
}
.padding-top-0px {
	padding-top: 0;
}
.portal-wrapper {
	width: 100%;
	margin: 20px auto 0;
	max-width: 420px;
	border-radius: 12px;
	position: relative;
}
.portal-wrapper.has-bg {
	background: #ffffff;
}
.portal-wrapper.has-padding {
	padding: 30px;
}
.logo {
	max-width: 120px;
	margin: 0 auto 26px;
}
.portal-main-hd {
	text-align: center;
	font-size: 19px;
	margin: 0 auto;
}
.portal-main-hd p{
	margin: 0;
}
.portal-main-hd span,
.photo-genre-screen span {
	display: block;
	font-size: 16px;
	line-height: normal;
	padding: 11px 0 28px;
}
.photo-genre-screen span {
	padding: 0px 0 15px;
}
.photo-genre-screen h4 {
	font-weight: bold;
}
.portal-main-hd h4 i {
	position: relative;
	right: 11px;
	top: 3px;
	font-size: 21px;
}
.select-genre-wrapper {
	font-size: 0;
	margin: 0 -4px;
	margin-bottom: 20px;
}
.genre-selectionbox-wrapper {
	width: 50%;
	display: inline-block;
	padding: 0 4px;
}
.genre-selectionbox-wrapper label span {
	padding: 13px 10px;
	background-color: #f9f9f9;
	color: #7E838A;
	font-size: 15px;
	border-radius: 6px;
	border: 1px solid #f4f4f4;
	font-weight: normal;
	height: 45px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.genre-selectionbox-wrapper label {
	display: block;
	cursor: pointer;
	margin: 3px 0;
}
.genre-selectionbox-wrapper label input {
	display: none;
}
.genre-selectionbox-wrapper label input:checked + span {
	background-color: #f6fef4;
	color: #34d803;
	border-color: #ccfabd;
	cursor: pointer;
}
/*======Custom Scrollbar========*/
.scrollbar {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 155px;
}

.custom-scrollbar::-webkit-scrollbar-track
{
	background-color: #f2f2f2;
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar
{
	width: 6px;
	background-color: #f2f2f2;
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
	background-color: #34D803;
	border-radius: 10px;
}
/*======Custom Scrollbar========*/

a.btn.btn-block.post-btns span {
    color: #fff;
    margin-bottom: -10px;
}
a.btn.btn-block.post-btns {
    background-color: #cfcfcf;
    color: #fff;
    padding: 0;
    position: relative;
    bottom: -16px;
}
.or-sperater {
	display: block;
	position: relative;
	width: 100%;
	margin: 16px auto;
}
.or-sperater span {
	display: block;
	width: 33px;
	height: 33px;
	background: #f2f2f2;
	border-radius: 100%;
	margin: 0 auto;
	text-align: center;
	z-index: 99;
	position: relative;
	line-height: 35px;
	font-size: 15px;
}
.or-sperater:before {
	content: "";
	width: 100%;
	height: 1px;
	background: #f2f2f2;
	left: 0;
	display: block;
	top: 50%;
	position: absolute;
}
.login-btns i {
	vertical-align: middle;
	margin-right: 12px;
	position: relative;
	top: -2px;
	font-size: 19px;
}
.download-tree-app {
	text-align: center;
}
.download-tree-app p {
	margin: 27px auto 21px;
	font-family: 'SanFranciscoText-Semibold';
	font-size: 18px;
}
.download-app-btn {
	width: 49%;
}
/*======
	Upload Screen
======*/

.browse-btn {
	width: 100%;
	border: solid 1px #f2f2f2;
	background: #f9f9f9;
	padding: 36px 0;
	text-align: center;
	font-family: 'SanFranciscoText-Semibold';
	font-size: 18px;
	margin: 0 auto 30px auto;
	border-radius: 14px;
	position: relative;
	overflow: hidden;
	max-width: 200px;
}
.browse-btn i {
	display: block;
	font-size: 55px;
	margin-bottom: 7px;
}
.browse-btn input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.portal-header {
	position: relative;
}
.profile-circle {
	position: absolute;
	width: 61px;
	height: 61px;
	left: 0;
	top: 0;
	background: #f9f9f9;
	border: solid 1px #f2f2f2;
	border-radius: 100%;
	top: 26%;
	text-align: center;
	overflow: hidden;
}
.profile-circle.logout-icon {
	left: auto;
	right: 0;
	font-size: 34px;
	line-height: 62px;
	cursor: pointer;
	text-decoration: none;
}
.client-portal-index .profile-circle {
	display: none;
}
.progressbar-wrapper {
	width: 100%;
	background: #f9f9f9;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	padding: 2px 15px;
	margin-bottom: 16px;
	height: 44px;
}
.progressbar-wrapper .inner-padding {
	position: relative;
}
.progressbar-wrapper .icon {
	font-size: 32px;
	float: left;
	line-height: 0;
	position: relative;
	top: 19px;
}
.progressbar-wrapper .percentage {
	float: right;
	padding: 0;
	margin: 0;
	font-size: 17px;
	text-align: right;
	margin-top: 2px;
}
.upload-progressbar {
	width: 72%;
	height: 4px;
	background: #cfcfcf;
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 17px;
}
.upload-progressbar .fill {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #34d803;
	padding: 0;
}
.upload-progressbar .fill,
.progressbar-wrapper .percentage{
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
.custom-label {
	font-size: 18px;
	margin-bottom: 14px;
}
.custom-label i {
	font-size: 22px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	margin-right: 4px;
}
.btn.show-spinner .loader-text {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	left: 0;
	line-height: 50px;
}
.toggle-btns {
	width: 100%;
	background: #fff;
	border: 1px solid #7E838A;
	border-radius: 5px;
	overflow: hidden;
}
.toggle-btns span {
	width: 50%;
	float: left;
	height: 29px;
	cursor: pointer;
	text-align: center;
	line-height: 29px;
	color: #4C4C4C;
	font-family: 'SanFranciscoText-Light';
	position: relative;
}
.toggle-btns span input[type="radio"] {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.toggle-btns span.active {
	background: #7E838A;
	color: #fff;
}
.toggle-btns.margin-btm {
	margin-bottom: 33px;
}
.padding-right-8px {
	padding-right: 8px;
}
.padding-left-8px {
	padding-left: 8px;
}
.upload-img-preview {
	height: 0px;
	overflow: hidden;
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	display: block !important;
	opacity: 0;
	padding-right: 24px;
	position: relative;
}
.upload-img-preview i {
	cursor: pointer;
	font-size: 21px;
	font-weight: bold;
	color: #FF3B30;
	position: absolute;
	right: 0;
	top: 1px;
}
.upload-img-preview.show {
	height: auto;
	opacity: 1;
	margin-bottom: 4px;
}
.next-prev-btn {
	min-width: 140px;
	font-family: 'SanFranciscoText-Regular';
	padding: 6px 12px;
}
.next-prev-btn.rt-pad {
	margin-right: 15px;
}
.next-prev-btn .loader {
	top: 2.5px;
}
.paging-wrapper {
	margin: 15px auto 30px;
}
.paging-wrapper .paging-info {
	position: relative;
	top: 11px;
}
.custom-table.setting-table td:last-child {
	width: 200px;
}
.custom-table.setting-table td:first-child {
	width: 250px;
}
.actions a {
	font-size: 26px;
	margin: 0 10px;
	text-decoration: none;
}
.actions a i {
	vertical-align: middle;
}
.actions .checkbox {
	margin-left: 10px;
}
/*.setting-table table tr:first-child td .actions a:first-child,*/
.setting-table.last-pagin-page table tr:last-child td .actions a:nth-child(2),
.first-child-arrow {

	opacity: 0;
	pointer-events: none;
}
.admin-table i.icon-edit2 {
	font-size: 22px;
}
/*======
	Gallery Large View
======*/

.large-view-popup {
/*	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 999;
	background: rgba(0,0,0,0.7);
	opacity: 0;
	pointer-events:none;
	transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;*/	
}
.large-view-popup.show {
	opacity: 1;
	pointer-events: auto;
}
.large-view-popup .large-img {
	max-width: 640px;
	height: auto;
	margin: 0 auto;
	position: relative;
}
.large-view-popup .large-img .icon-close, .white-bg-popup .icon-close {
	position: absolute;
	right: 20px;
	top: 20px;
	border-radius: 100%;
	font-size: 20px;
	padding: 2px;
	font-weight: bold;
	line-height: normal;
	cursor: pointer;
	opacity: 1;
}
.large-view-popup .modal-footer {
	height: 84px;
	background-color: #3F444A;
	margin-top: -1px;
	padding: 20px;
	text-align: left;
}
.large-view-popup .modal-footer .profile-pic {
	width: 44px;
	height: 44px;
	display: inline-block;
	border-radius: 100%;
	vertical-align: middle;
	margin-right: 6px;
}
.large-view-popup .modal-footer .footer-social-info {
	display: inline-block;
	width: calc(100% - 60px);
	vertical-align: middle;
	margin-bottom: 0px;
}
.large-view-popup .modal-footer .footer-social-info ul {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
.large-view-popup .modal-footer .footer-social-info ul li {
	display: inline-block;
	font-size: 14px;
	color: #fff;
	font-family: 'SanFranciscoText-Light';
}
.large-view-popup .modal-footer .footer-social-info ul li i {
	font-size: 20px;
	vertical-align: middle;
	position: relative;
	top: -2px;
	padding-right: 7px;
}
.large-view-popup .modal-footer .footer-social-info ul li:not(:last-child) {
	padding-right: 20px;
}
.large-view-popup .modal-footer .footer-social-info ul li .remove-text:before {
	content: ".";
	padding: 0 5px;
	position: relative;
	top: -4px;
	color: #fff;
}
.forget-password {
	margin-bottom: 14px;
	font-size: 14px;
	display: inline-block;
	line-height: 1;
}
.back-screen-link {
	position: absolute;
	left: 22px;
	top: 18px;
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	font-size: 29px;
	cursor: pointer;
}
.btn-back {
	min-width: 140px;
}
.error-message {
	line-height: 0;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	height: 0;
	overflow: hidden;
	margin: 0;
	font-size: 90%;
}
.error-message.show-message {
	height: auto;
	line-height: 1;
	margin-bottom: 15px;
}
.modal-body .error-message.show-message {
	margin-bottom: 0;
	margin-top: 15px;
}
.form-control.normal-readonly {
	pointer-events: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
video, iframe {
	width: 100%;
	display: block;
}

.ng-submitted .field-invalid,
.ng-submitted input.ng-invalid {
    color: #de0000 !important;
    border-color: #de0000;
}
.ng-submitted input.ng-invalid::-moz-placeholder {
 color: #de0000;
 opacity: 1;
}
.ng-submitted input.ng-invalid:-ms-input-placeholder {
 color: #de0000;
}
.ng-submitted input.ng-invalid::-webkit-input-placeholder {
 color: #de0000;
}
.btn[disabled] {
    opacity: 1;
}
.slide.ng-enter {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
}
.slide.ng-leave {
	-webkit-animation-name: slideOutLeft;
	animation-name: slideOutLeft;
}



/*==================Media Queries========================*/

@media (min-width: 768px) and (max-width: 992px) {
.padding-right-15px-sm {
	padding-right: 15px;
}
.padding-left-15px-sm {
	padding-left: 15px;
}
.padding-left-0px-sm {
	padding-left: 0;
}
.margin-bottom-10px-sm {
	margin-bottom: 10px;
}



}

@media (max-width: 992px) {
.filter-tabs .custom-filter {
	margin-bottom: 20px;
}
.gallery-item {
	float: left;
	width: 33.2%;
	padding: 3px;
}
.gallery-item {
	height: 135px;
}
.gallery-item .thumbnail {
	min-height: 131px;
}



}

@media (max-width: 740px) {
body {
	font-size: 90%;
}
h2, .h2 {
	font-size: 28px;
}
.logo {
    max-width: 80px;
}
.profile-circle {
    top: 15%;
}
.padding-right-15px-xs {
	padding-right: 15px;
}
.padding-left-15px-xs {
	padding-left: 15px;
}
.padding-0px-xs {
	padding: 0;
}
.margin-bottom-10px-xs {
	margin-bottom: 10px !important;
}
.header-wrapper {
	height: 50px;
	line-height: 50px;
}
.header-wrapper li {
	margin-right: 20px;
}
.custom-page-header {
	padding: 20px 0;
}
.custom-page-header h2, .modal-title, .header-wrapper ul li a {
	font-size: 22px;
}
.filter-tabs .custom-filter {
	margin-top: 0;
	margin-bottom: 0;
}
.listing-style-1 li {
	padding: 10px 15px;
	font-size: 13px;
}
.header-wrapper .logo {
	max-width: 40px;
	top: 5px;
}
.form-control {
	height: 38px;
	font-size: 14px;
}
.form-group-has-icon i {
	line-height: 36px;
}
.btn.btn-success.btn-filter, .custom-page-header .btn:not(.btn-filter) {
	height: 36px;
	line-height: 36px;
}
.custom-page-header .btn:not(.btn-filter) {
	font-size: 16px;
}
.table-responsive.table-has-user-img {
	overflow-x: auto;
	padding-left: 0;
}
.custom-table span.user-img {
	margin-left: 0;
	margin-right: 10px;
	width: 35px;
}
.custom-table table.table th:first-child, .custom-table table.table td:first-child {
	padding-left: 15px;
}
.custom-table table.table th:last-child, .custom-table table.table td:last-child {
	padding-right: 15px;
}
.paging-wrapper .paging-info {
	top: 0;
}
.paging-wrapper .btn {
	display: block;
	margin: 0 0 10px 0;
	float: left;
	width: 48%;
}
.paging-wrapper .btn.rt-pad {
	float: right;
}
.actions a {
	font-size: 22px;
	margin: 0 5px;
}
.actions .checkbox {
	margin-left: 5px;
}
.checkbox.custom-checkbox-1 {
	font-size: 22px;
}
.modal-sm {
	width: 90%;
}
.table-responsive.custom-table {
	border-bottom: 1px solid #CFCFCF;
}
.btn {
	padding: 6px 12px;
	font-size: 18px;
}
.btn-back {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
.text-center-xs {
	text-align: center;
}
.gallery-item, .gallery-item .thumbnail {
	min-height: 116px;
	height: auto;
}
.btn.show-spinner .loader-text {
	line-height: 38px;
}



}

@media (max-width: 414px) {
.portal-wrapper {
	max-width: 96%;
	margin-bottom: 20px;
}
.download-app-btn {
	margin-bottom: 30px;
}
.padding-30px {
	padding: 16px;
}
.download-tree-app {
	margin: 0 auto;
	max-width: 380px;
	width: 96%;
}
.or-sperater {
	margin: 5px auto;
}
.padding-right-8px {
	padding-right: 16px;
}
.padding-left-8px {
	padding-left: 16px;
}
.toggle-btns.margin-btm {
	margin-bottom: 20px;
}
.toggle-btns span {
	height: 38px;
	line-height: 37px;
}
.progressbar-wrapper .percentage {
	font-size: 15px;
	margin-top: 5px;
}
.gallery-item {
	width: 100%;
	padding: 3px 0;
}
.large-view-popup .modal-footer {
	height: auto;
}
.modal-backdrop.in {
	opacity: .7;
}
.large-view-popup .modal-footer {
	padding: 10px 6px;
}
.large-view-popup .modal-footer .profile-pic {
	display: block;
	margin: 0 auto;
	margin-bottom: 8px;
}
.large-view-popup .modal-footer .footer-social-info {
	width: 100%;
	text-align: center;
	font-size: 13px;
}
.large-view-popup .modal-footer .footer-social-info ul {
	margin-top: 5px;
}
.large-view-popup .modal-footer .footer-social-info ul li {
	font-size: 11px;
}
.large-view-popup .modal-footer .footer-social-info ul li:not(:last-child) {
	padding-right: 6px;
}
.large-view-popup .modal-footer .footer-social-info ul li i {
	font-size: 15px;
	padding-right: 1px;
}
.genre-selectionbox-wrapper {
	width: auto;
}



}

@media (max-width:360px) {
.portal-wrapper {
	max-width: 97%;
	margin: 10px auto 20px;
}
.download-tree-app p {
	font-size: 16px;
}
.portal-main-hd {
	font-size: 18px;
}
.portal-main-hd span {
	font-size: 13px;
	padding: 7px 0 23px;
}
.or-sperater span {
	font-size: 14px;
}
.btn.show-spinner .loader-text {
	line-height: 46px;
}
.progressbar-wrapper .percentage {
	font-size: 13px;
}
.progressbar-wrapper .icon {
	font-size: 24px;
	top: 19px;
}
.custom-label {
	font-size: 16px;
	margin-bottom: 11px;
}
.custom-label i {
	top: -1px;
	margin-right: 2px;
	font-size: 20px;
}
.loader {
	top: 4px;
}
.large-view-popup .modal-footer .footer-social-info ul li:not(:last-child) {
	padding-right: 12px;
}
.large-view-popup .modal-footer .footer-social-info ul li:not(:last-child) {
	padding-right: 12px;
	margin-bottom: 5px;
}



}

@media (max-width: 320px) {
body {
	font-size: 80%;
}
.navigation, .header-right {
	margin: 0;
}
.dashboard-content .listing-style-1 li {
	font-size: 11px;
}
.btn.btn-success.btn-filter {
	font-size: 28px;
}
.header-wrapper li {
	margin-right: 15px;
}
.genre-selectionbox-wrapper label span {
	font-size: 15px;
}



}

.prevent-click {
  pointer-events:none;
}
