body{
	background: #f2f2f2;
	color: #1a1a1a;
}


/*========
	Input fields
=========*/

.form-control{
	color: inherit;
}

.form-control::-moz-placeholder{
	color:#8f949b;
}
.form-control:-ms-input-placeholder{
	color:#8f949b
}
.form-control::-webkit-input-placeholder{
	color:#8f949b
}


/*=========
	Text Colors
=========*/
.white,.toggle-btns span.active{
	color: #fff;
}

.black{
	color: #1a1a1a;
}

.blue{
	color: #00a0f0;
}
.blue:hover{
	color: #0088cc;
}

.lt-grey,
.form-group-has-icon i,
.custom-select span{
	color: #CFCFCF;
}
a.lt-grey:hover,
a.lt-grey:active,
a.lt-grey:focus{
	color: #c3c3c3;
	text-decoration: none;
}

.dark-grey,
.toggle-btns span,
.portal-main-hd span,
.custom-filter li a,
.header-wrapper ul li a,
.custom-table table thead th,
.or-sperater span,
.profile-circle.logout-icon{
	color: #7E838A;
}
.text-success,
.green,
.custom-table tr.disabled .green.show-on-checked,
.navigation li a.active,
.header-right li a.active,
.custom-filter li a.active,.custom-table tr.disabled i.green{
	color: #34D803;
}
.text-danger,
.red,
.custom-table tr.disabled .green{
	color: #FF3B30;
}

/*=========
	background Colors
=========*/

.bg-white{
	background:#fff;
}

.bg-black{
	background: #1a1a1a;
}

.bg-lt-grey{
	background: #7E838A;
}

.bg-dark-grey,
.toggle-btns span.active,.gallery-item .thumbnail{
	background: #7E838A;;
}

.bg-green{
	background: #34D803;
}

/*=========
Buttons Colors
=========*/

.btn-success,
.upload-progressbar .fill {
    background-color: #34D803;
    border-color: #34D803;
}

.btn-primary {
    background-color: #3b5998;
    border-color: #3b5998;
}
body{
	background: #f2f2f2;
	color: #1a1a1a;
}


/*========
	Input fields
=========*/

.form-control{
	color: inherit;
}

.form-control::-moz-placeholder{
	color:#8f949b;
}
.form-control:-ms-input-placeholder{
	color:#8f949b
}
.form-control::-webkit-input-placeholder{
	color:#8f949b
}


/*=========
	Text Colors
=========*/
.white,.toggle-btns span.active{
	color: #fff;
}

.black{
	color: #1a1a1a;
}

.blue{
	color: #00a0f0;
}
.blue:hover{
	color: #0088cc;
}

.lt-grey,
.form-group-has-icon i,
.custom-select span{
	color: #CFCFCF;
}
a.lt-grey:hover,
a.lt-grey:active,
a.lt-grey:focus{
	color: #c3c3c3;
	text-decoration: none;
}

.dark-grey,
.toggle-btns span,
.portal-main-hd span,
.custom-filter li a,
.header-wrapper ul li a,
.custom-table table thead th,
.or-sperater span,
.profile-circle.logout-icon,
.photo-genre-screen span{
	color: #7E838A;
}
.text-success,
.green,
.custom-table tr.disabled .green.show-on-checked,
.navigation li a.active,
.header-right li a.active,
.custom-filter li a.active,.custom-table tr.disabled i.green{
	color: #34D803;
}
.text-danger,
.red,
.custom-table tr.disabled .green{
	color: #FF3B30;
}

/*=========
	background Colors
=========*/

.bg-white{
	background:#fff;
}

.bg-black{
	background: #1a1a1a;
}

.bg-lt-grey{
	background: #7E838A;
}

.bg-dark-grey,
.toggle-btns span.active,.gallery-item .thumbnail{
	background: #7E838A;;
}

.bg-green{
	background: #34D803;
}

/*=========
Buttons Colors
=========*/

.btn-success,
.btn-success.active,
.upload-progressbar .fill {
    background-color: #34D803;
    border-color: #34D803;
    box-shadow: none;
}

.btn-primary {
    background-color: #3b5998;
    border-color: #3b5998;
}
