
li.active > a {
    /*color: rgba(255, 255, 255, 0.85) !important;*/
    /*background-color: black !important;*/
}

.dataTables_wrapper .dataTables_filter input {
    /* margin-left: 0.5em;
     border: 1px solid #d0d0d0;
     border-radius: 0.25rem;
     color: inherit;
     padding: 3px;*/
}

select{
    /*border: 1px solid #d0d0d0;
    border-color: rgba(120, 130, 140, 0.2);
    border-radius: 0.25rem;
    color: inherit;
    padding: 3px;*/
}
thead tr{
    /*background: #15486b;
    color: #f3f6f9;*/
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th {
    border-color: #78828c2b !important;
    font-size: 14px;
}

html,body{
    /*background:#000;*/
    margin:0;
}
.centered {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    background: #000000a6;
    z-index: 9999;
    bottom: 0;
    display: none;
}
.blob-1,.blob-2{
    width:70px;
    height:70px;
    position:absolute;
    background:#fff;
    border-radius:50%;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
}
.blob-1{
    left:20%;
    animation:osc-l 2.5s ease infinite;
    background:#fff200;
}
.blob-2{
    left:80%;
    animation:osc-r 2.5s ease infinite;
    background:#171616a6;
}
@keyframes osc-l{
    0%{left:20%;}
    50%{left:50%;}
    100%{left:20%;}
}
@keyframes osc-r{
    0%{left:80%;}
    50%{left:50%;}
    100%{left:80%;}
}

.sidenav .nav li > a:hover, .sidenav .nav li > a:focus {
    /*background-image: linear-gradient(to right, #bbb700 , #1e2835);*/

    background: linear-gradient(45deg, #2F75BB 0%, #4A9CF0 100%) !important;
}

.nav-active-primary .nav-link.active, .nav-active-primary .nav > li.active > a {
    color: rgba(255, 255, 255, 0.85) !important;
    background: linear-gradient(45deg, #2F75BB 0%, #4A9CF0 100%) !important;
}

@media (min-width: 768px){
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
}

.card-header{
    color: rgba(255, 255, 255, 0.85);
    background-color: #1e2835d4;
}

.card-block{
    height: 200px;
}

.bb-1{
    border-bottom: 0.5px solid #a6b5b887;
}
.card-header{
    font-size: 15px;
}

/* DataTable Buttons */
.dataTables_filter {
    width: 50%;
}
.dataTables_filter label {
    float: right;
}
.dt-buttons{
    width: 50%;
}

textarea {
    resize: none;
}

.errorMessage{
    display:none;
    float:left;
    width:100%;
    color:red !important;
    text-align:center;
}

.successMessage{
    display:none;
    float:left;
    width:100%;
    color:blue !important;
    text-align:center;
}

.marginRight {
    margin-right: 15px !important;
}

.table thead{
    text-align: center !important;
}

.table tbody{
    text-align: center !important;
}

.actionbutton{
    float: right;
    /* width: 100% !important; */
    margin: 0;
}

.actionbackcolor{
    background: linear-gradient(45deg, #2F75BB 0%, #4A9CF0 100%) !important;
    border: none;
    outline: none;
}


.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 148px;
    height: 148px;
    background: transparent;
    /* border: 3px solid #3c3c3c; */
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #fff000;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fff000;
    /* box-shadow: 0 0 20px rgba(0,0,0,.5); */
}
.ring:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 150px;
    height: 150px;
    border: 6px solid transparent;
    border-top: 6px solid #2F75BB ;
    border-right: 6px solid #2F75BB ;
    border-radius: 50%;
    animation: animateCircle 2s linear infinite;
}
.spanLoad {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin:left;
    animation: animate 2s linear infinite;
}
.spanLoad:before {
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff000;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #fff000;
}

@keyframes animateCircle
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
@keyframes animate
{
    0%
    {
        transform: rotate(45deg);
    }
    100%
    {
        transform: rotate(405deg);
    }
}

.pac-container {
    background-color: #FFF;
    z-index: 1052 !important;
    position: fixed;
    display: inline-block;
    float: left;
}

.customCrossButton{
    text-align: center;
    color: white;
    margin-top: -36px;
    margin-right: -28px;
    font-size: 40px;
}